.hero-container-part-two {
  background-color: #f8f4ee;
  padding: 40px 0;
  text-align: center;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.image-grid-swiper {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
}

.image-grid-swiper img {
  width: 100%;
  border-radius: 0px;
}

/* Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 12px;
  border-radius: 0%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

@media (max-width: 1280px) {
  .hero-container-part-two {
    background-color: #f8f4ee;
    padding: 0px 0;
    text-align: center;
    color: #333;
    font-family: "Montserrat", sans-serif;
  }
  .image-grid-swiper {
    position: relative;
    max-width: 85%;
    margin: 0 auto;
  }
  .image-grid-swiper img {
    max-height: 450px; /* Reduce height for small screens */
  }

  .hero-body-text-two {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .hero-container-part-two {
    background-color: #f8f4ee;
    padding: 0px 0;
    text-align: center;
    color: #333;
    font-family: "Montserrat", sans-serif;
  }
  .image-grid-swiper {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
  }
  .image-grid-swiper img {
    max-height: 400px; /* Reduce height for small screens */
  }
}

/* --- Only adjust height for smaller screens --- */
@media (max-width: 768px) {
  .hero-container-part-two {
    background-color: #f8f4ee;
    padding: 0px 0;
    text-align: center;
    color: #333;
    font-family: "Montserrat", sans-serif;
  }
  .image-grid-swiper {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
  }
  .image-grid-swiper img {
    max-height: 400px; /* Reduce height for small screens */
  }
}

@media (max-width: 500px) {
  .hero-container-part-two {
    background-color: #f8f4ee;
    padding: 0px 0;
    text-align: center;
    color: #333;
    font-family: "Montserrat", sans-serif;
  }
  .image-grid-swiper {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
  }
  .image-grid-swiper img {
    max-height: 250px; /* Even smaller height for iPhone SE */
  }
}

@media (max-width: 375px) {
  .hero-container-part-two {
    background-color: #f8f4ee;
    padding: 0px 0;
    text-align: center;
    color: #333;
    font-family: "Montserrat", sans-serif;
  }
  .image-grid-swiper {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }
  .image-grid-swiper img {
    max-height: 250px; /* Even smaller height for iPhone SE */
  }
}
